.button {
  background-color: $buttonBg;
  border: none;
  color: $buttonColor;
  cursor: pointer;
  font-size: $baseFontSize;
  line-height: 1.2;
  margin-bottom: $space;
  padding: $inputSpacing;
  text-transform: uppercase;
}

.button--link {
  background: none;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  text-transform: none;
  text-decoration: underline;
}

.button--pill {
  background-color: transparent;
  border: 1px solid $buttonPillColor;
  color: $buttonPillColor;
  font-size: $baseFontSize;
  margin: 0 ($space / 2) 0 0;
  padding: .3rem .8rem;
  text-decoration: none;
  text-transform: uppercase;
}

.button--secondary {
  background-color: $buttongSecondaryBg;
  border: 1px solid $buttonSecondaryBorderColor;
  color: $buttonSecondaryColor;
}